<div class="hidden lg:flex sticky top-0 z-sticky">
	<div class="w-full flex justify-between bg-white py-4 px-4 shadow-soft-sm">
		<div class="flex gap-2 items-center">
			<img class="h-8 w-8" src="/assets/img/logo.png" alt="logo">
			<a class="py-2.375 text-xl whitespace-nowrap font-bold text-slate-700" href="/">R-Stories</a>
		</div>
		<nav>
			<ul class="flex">
				<li>
					<a class="flex items-center px-4 py-2 font-normal text-sm text-slate-700 hover:text-indigo-400 hover:scale-105" href="/">
						<i class="mr-1 fa-solid fa-house opacity-80"></i>
						Home
					</a>
				</li>
				<li>
					<a class="flex items-center px-4 py-2 font-normal text-sm text-slate-700 hover:text-indigo-400 hover:scale-105" href="#">
						<i class="mr-1 fa-solid fa-rss opacity-80"></i>
						Cerita
					</a>
				</li>
				<li>
					<a class="flex items-center px-4 py-2 font-normal text-sm text-slate-700 hover:text-indigo-400 hover:scale-105" href="#">
						<i class="mr-1 fa-solid fa-list opacity-80"></i>
						Kategory
					</a>
				</li>
				<li>
					<a class="flex items-center px-4 py-2 font-normal text-sm text-slate-700 hover:text-indigo-400 hover:scale-105" href="#">
						<i class="mr-1 fa-solid fa-circle-info opacity-80"></i>
						Tentang
					</a>
				</li>
				<li>
					<a class="flex items-center px-4 py-2 font-normal text-sm text-slate-700 hover:text-indigo-400 hover:scale-105" href="#">
						<i class="mr-1 fa-solid fa-gear opacity-80"></i>
						Pengaturan
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>

<div class="w-full flex lg:hidden fixed bottom-0 z-sticky">
	<div class="w-full flex justify-between bg-white py-4 px-6 border-t border-salte-700">
		<a class="flex flex-col items-center justify-center font-normal text-sm text-slate-600 hover:text-indigo-400 hover:scale-105" href="/">
			<i class="fa-solid fa-house text-xl opacity-80"></i>
			<span>Home</span>
		</a>
		<a class="flex flex-col items-center justify-center font-normal text-sm text-slate-600 hover:text-indigo-400 hover:scale-105" href="#">
			<i class="fa-solid fa-rss text-xl opacity-80"></i>
			Ceita
		</a>
		<a class="flex flex-col items-center justify-center font-normal text-sm text-slate-600 hover:text-indigo-400 hover:scale-105" href="#">
			<i class="fa-solid fa-list text-xl opacity-80"></i>
			Kategory
		</a>
		<a class="flex flex-col items-center justify-center font-normal text-sm text-slate-600 hover:text-indigo-400 hover:scale-105" href="#">
			<i class="fa-solid fa-circle-info text-xl opacity-80"></i>
			Tentang
		</a>
		<a class="flex flex-col items-center justify-center font-normal text-sm text-slate-600 hover:text-indigo-400 hover:scale-105" href="#">
			<i class="fa-solid fa-gear text-xl opacity-80"></i>
			Pengaturan
		</a>
	</div>
</div>