<nav class="relative flex items-center justify-between px-4 py-4 mx-6 transition-all shadow-none duration-250 ease-soft-in rounded-2xl lg:flex-nowrap lg:justify-start" navbar-main navbar-scroll="true">
  <div class="w-full flex items-center justify-between md-max:w-full">
    
    <div class="flex w-full items-center px-4 gap-6">
      <a href="javascript:;" class="p-0 text-sm transition-all ease-nav-brand text-slate-500">
        <i fixed-plugin-button-nav class="cursor-pointer fa fa-cog"></i>
      </a>
      <a href="javascript:;" class="block p-0 text-sm transition-all ease-nav-brand text-slate-500" dropdown-trigger aria-expanded="false">
        <i class="cursor-pointer fa fa-bell"></i>
      </a>
    </div>
    <div class="flex items-center xl:hidden">
      <a id="toggleAside"  href="javascript:;" class="block p-0 text-sm transition-all ease-nav-brand text-slate-500">
        <div class="w-4.5 overflow-hidden">
          <i class="ease-soft mb-0.75 relative block h-0.5 rounded-sm bg-slate-500 transition-all"></i>
          <i class="ease-soft mb-0.75 relative block h-0.5 rounded-sm bg-slate-500 transition-all"></i>
          <i class="ease-soft relative block h-0.5 rounded-sm bg-slate-500 transition-all"></i>
        </div>
      </a>
    </div>

  </div>
</nav>